/* 
# Drupal 7 Variables
These variables match the templating elements from the Drupal 7 version, enable them to use sample layouts 
*/

// ## main page container
$page: #page;

//## page elements

$skip-link: #skip;
$naviagion: #navigation;
$logo: #logo;
$site-name: #site-name;
$header: h1;

// ## Regions
// ### regions[header] = Header
$header: #header-region;
// ### regions[highlighted] = Highlighted
$highlighted = #highlighted;
// ### regions[help] = Help
$help = #help;
// ### regions[content] = Content
$content = #content-area;
// ### regions[sidebar_first] = First sidebar
$sidebar-first = #sidebar-first;
// ### regions[sidebar_second] = Second sidebar
$sidebar-second = #sidebar-second;
// ### regions[footer] = Footer
$footer = #footer;
